h1 {
    text-transform: uppercase;
    text-align: center;
    @mixin textGradient;
    margin-top: 4rem;
}

h2 {
    font-size: 2rem;
    @mixin textGradient;

    @mixin atMedium {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.7rem;
    @mixin textGradient;

    @mixin atMedium {
        font-size: 1.7rem;
    }
}