.portfolio-section {
    &__title {
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        background: url('./assets/images/background3.jpg') no-repeat center;
        background-size: cover;

        div {
            flex: auto;

            @mixin atMedium {
                flex: 1;
                margin: 2rem;
            }
        }
    }

    &__img {
        @mixin forSmall {
            order: 1;
        }
    }

    &__desc {
        @mixin forSmall {
            order: 2;
        }
    }
}